@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*
{
    margin: 0;
    padding: 0;
}
a
{
    text-decoration: none;
}
.m-b
{
    margin-bottom: 50px;
}
.p-t-b
{
    padding-top: 50px;
    padding-bottom: 50px;
}
.d-flex
{
    display: flex;
}
.align-center
{
    align-items: center;
}
.justify-center
{
    justify-content: center;
}
.text-center
{
    text-align: center;
}
.grid-3
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
} 
.btn
{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    padding: 20px 40px;
    background: linear-gradient(to right, #851610 0%, #e52d27  100%);
    border-radius: 40px;
    transition: .5s all ease-in
;
}
.btn:hover
{
    background-image: linear-gradient(to right, #e52d27 0%, #851610  100%); 
}

body
{
    font-family: 'Poppins', sans-serif;
}
.container
{
    max-width: 80%;
    margin: 0 auto;
}
.hero_wrapper
{
    height: 100vh;
}
.div_left
{
    width: 50%;
}
.hero_tag,
.about_tag,
.dishes_tag,
.footer_tag
{
    max-width: 70%;
    font-size: 40px;
    line-height: 50px; 
    margin-bottom: 20px;
    color: #333333;
}
.hero_tag span,
.about_tag span,
.footer_tag span
{
    color: red;
}
.hero_para,
.about_para,
.footer_para
{
    font-size: 18px;
    font-weight: 500;
    max-width: 70%;
    line-height: 28px;
    margin-bottom: 40px;
    color: #524444eb;
}
.about_para,
.about_tag,
.dishes_tag,
.footer_tag,
.footer_para
{
    margin: 0 auto;

}
.about_tag 
{
    padding-bottom: 20px;
}
.about_para
{
    padding-bottom: 40px;
}
.div_right
{
    width: 50%;
}
.div_left img,
.div_right img
{
    width: 100%;
}
.about
{
    background-image: url(../images/about_back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

} 
.about_wrapper
{
    padding: 130px 0;
}
.about .div_left img
{
    border-radius: 40px;
}    
.about .div_right
{
    text-align: center;
}
.dish
{
    background: #f1ecec;
}
.dish_card
{
    background: #fff;
    margin-top: 30px;
    border-radius: 20px;
}
.dish_card img
{
    width: 100%;
    height: 480px;
    border-radius: 20px 20px 0 0;
}
.dish_card h2
{
    margin-top: 20px;
}
.dish_card p
{
    padding: 10px 30px;
}
.dishes_para
{
    max-width: 56%;
    margin: 0 auto;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    padding-top: 25px;
    text-align: center;
}
footer
{
    padding: 50px 0;
}